{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  ecmaFeatures: {
    'jsx': true,
    'modules': true
  },
  "env": {
    "browser": true,
    "node": true
  },
  plugins: [
    'react'
  ]
}